-i https://pypi.org/simple
boto3==1.7.67
botocore==1.10.67
click==6.7
docutils==0.14
flask==1.0.2
gunicorn==19.9.0
itsdangerous==0.24
jinja2==2.10
jmespath==0.9.3
markupsafe==1.0
python-dateutil==2.7.3; python_version >= '2.7'
s3transfer==0.1.13
six==1.11.0
werkzeug==0.15.5
